* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  
  @media (max-width: 600px) {
    header {
      height: 15vh;
      font-size: 20px;
    }
  
    .post-container {
      width: 90%;
    }
  }
  body {
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  header {
    height: 15vh;
    background: rgb(41,5,0);
    background: linear-gradient(0deg, rgba(41,5,0,1) 0%, rgba(79,79,82,1) 33%, rgba(48,39,36,1) 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e2dede;
    font-family: "Poppins";
    font-size: 2em;
  }
  
  main {
    flex: 1;
    height: 80vh;
    min-height: 80vh;
    background-color: #dedede;
  }
  
  footer {
    height: 10vh;
    background: rgb(41,5,0);
    background: linear-gradient(0deg, rgba(41,5,0,1) 0%, rgba(79,79,82,1) 33%, rgba(48,39,36,1) 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e2dee2;
    font-family: "Poppings";
  }

  #home {
    min-height: 70vh;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
  }

  .post-container {
    width: 20em;
    height: 20em;
    background-color: #e8e7eb;
    border-radius: 10px;
    box-shadow: 5px 5px 9px gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
  }
  
  .post-autor {
    background-color: #dbdbdb;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 1.5em;
    font-family: "Poppins";
    
  }
  
  .post-conteudo {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: "Roboto";
  }
  
  .post-data {
    font-size: 14px;
    margin-top: 8em;
  }

  .post-apagar {
    display: flex;
    justify-content: end;
    font-family: "Roboto";
    display: flex;
    justify-content: right;
    text-align: right;
  }

  #login {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #login form {
    width: 30%;
    min-width: 350px;
    height: 500px;
    background-color: #2a2a2a;
    color: #fff;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
  }
  
  #login form h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  
  #login form label {
    font-size: 20px;
    font-weight: 600;
  }

  #login form #email, #login form #senha {
    width: 280px;
    height: 50px;
    resize: none;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial;
    font-size: 18px;
  }
  
  #login form button {
    width: 90%;
    height: 40px;
    background: rgb(41,5,0);
    background: linear-gradient(0deg, rgba(41,5,0,1) 0%, rgba(79,79,82,1) 33%, rgba(48,39,36,1) 99%);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 auto;
  }
  
  #login form button:hover {
    background-color: #ffffff;
    background: rgb(41,5,0);
    background: linear-gradient(0deg, rgba(41,5,0,1) 0%, rgba(79,79,82,1) 33%, rgba(48,39,36,1) 99%);
    transition: 200ms;
  }

  #novopost {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #novopost form {
    width: 30%;
    height: 25em;
    background: rgb(41,5,0);
    background: linear-gradient(0deg, rgba(41,5,0,1) 0%, rgba(79,79,82,1) 33%, rgba(48,39,36,1) 99%);
    color: #ffffff;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  #novopost form label {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  #novopost form textarea {
    width: 90%;
    height: 120px;
    resize: none;
    border-radius: 1em;
    padding: 5px;
    font-family: "Roboto";
    font-size: 18px;
  }
  
  #novopost form button {
    width: 90%;
    height: 40px;
    background-color: #ffffff;
    border: none;
    color:  rgb(41,5,0);;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  #novopost form button:hover {
    background: rgb(41,5,0);
    background: linear-gradient(0deg, rgba(41,5,0,1) 0%, rgba(79,79,82,1) 33%, rgba(48,39,36,1) 99%);
    color: #ffffff;
    transition: 200ms;
    border: 2px solid #ffffff;
  }

  #menu {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  #menu .button {
    width: 10em;
    height: 3em;
    background: rgb(41,5,0);
    background: linear-gradient(0deg, rgba(41,5,0,1) 0%, rgba(79,79,82,1) 33%, rgba(48,39,36,1) 99%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1em;
    color: #e2dee2;
    font-family: "Poppins";
    
  }
  
  #menu .button:hover {
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    header {
      height: 15vh;
      font-size: 20px;
    }
  
    .post-container {
      width: 90%;
    }
  
    #novopost {
      height: 20vh;
    }
  
    #novopost form {
      width: 90%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    #novopost form textarea {
      width: 95%;
    }
  }

  #erro404 {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 20px;
  }

  #adm {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  
  #adm-users {
    width: 50%;
    min-height: 75vh;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #adm-posts {
    width: 50%;
    min-height: 75vh;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }



  #adm {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  
  
  #adm-users table {
    height: 5em;
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
  }
  
  #adm-users table, td, th {
    border: 1px solid gray;
    border-collapse: collapse;
  }
  
  #adm-users button {
    padding: 5px 30px;
    height: 30px;
    margin: 20px 0;
    border-radius: 20px;
    border: none;
    background-color: #000000;
    color: #ffffff;
  }
  
  #adm-users button:hover {
    background-color: #797c79;
    color: #ffffff;
    cursor: pointer;
  }

  #novousuario {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  #novousuario form {
    width: 30%;
    background: rgb(41,5,0);
    background: linear-gradient(0deg, rgba(41,5,0,1) 0%, rgba(79,79,82,1) 33%, rgba(48,39,36,1) 99%);
    height: 70vh;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: #ffffff;
  }
  
  #novousuario form input {
    margin: 10px 0;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
  }
  
  #novousuario button {
    padding: 5px 30px;
    height: 30px;
    margin: 20px 0;
    border-radius: 20px;
    border: none;
    background-color: #000000;
    color: #ffffff;
  }
  
  #novousuario button:hover {
    background-color: #797c79;
    color: #ffffff;
    cursor: pointer;
  }