{% extends "modelo.html" %}

{% block conteudo %}
<div id="login">
  <form action="/acesso" method="post">
    <h2>Login</h2>
    <div class="form-email">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="nome@dominio.com" required>
    </div>
    <div class="form-senha">
      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha" required>
    </div>
    {% if mensagem %}
    <p class="msgerro">{{ mensagem }}</p>
    {% endif %}
    <button type="submit">Acessar</button>
  </form>
</div>
{% endblock %}