<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>BLOG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="../static/style.css" />
        <link rel="icon" href="../static/OIG3.ico" />
      </head>
<body>
    <header>
        <h1>New X</h1>
    </header>
    <main>
        {% block conteudo %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy; New X</p>
    </footer>
</body>
</html>